body {
  background-color: white;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  color: black;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 3.5em;
  color: #328453;
}

h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 30px;
}

h3 {
  margin: 10px 5px;
  font-size: 20px;
  color: #328453;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #328453;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #631604;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

h1:hover {
  text-decoration: none;
}

header,
footer {
  height: 160px;
  width: 75%;
  max-width: 960px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: inline;
  text-transform: uppercase;
  margin-left: 50px;
  font-family: "Comfortaa", sans-serif;
  transition: all 0.4s ease-in-out;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #631604;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -8px;
  left: 0;
  background-color: #631604;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  width: 75%;
  align-items: center;
  margin: 0px auto;
  max-width: 960px;
  background-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgb(103, 103, 103);
  padding: 30px;
}

section {
  width: 100%;
  display: inline-block;
  text-align: center;
}

#landingImage {
  display: flex;
  background-image: url(../images/produceImage.jpg);
  height: 640px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  opacity: 80%;
  width: 60%;
  max-width: 640px;
  height: 50%;
  max-height: 420px;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 0px 0px 5px black;
  padding: 40px;
}

#welcome h2 {
  font-size: 1.7em;
  margin: 0px;
}

button {
  width: 200px;
  height: 62px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "Ubuntu", sans-serif;
  border: none;
  background-color: #328453;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #631604;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

p {
  margin: 20px;
  line-height: 1.4;
}

form {
  display: flex;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border: thin solid lightgray;
  width: 100%;
}

input,
select {
  height: 25px;
  margin: 0px 15px 0px 5px;
  padding-left: 8px;
}

#name {
  width: 120px;
}

#quantity {
  width: 35px;
}

form button {
  margin: 30px 0px;
  width: 80px;
  height: 40px;
}

table {
  width: 75%;
  margin: 0px auto;
}

th {
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
  color: #328453;
  padding-bottom: 10px;
}

tr,
td {
  padding: 10px 30px;
  text-align: center;
}

tr:hover {
  background-color: white;
  border-radius: 4px;
}

.bwtocolor {
  width: 200px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.bwtocolor:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 1px 4px black;
}

#bios {
  display: flex;
  justify-content: space-evenly;
}

.bio {
  width: 20%;
  display: inline-block;
  margin: 10px;
  height: 100%;
  justify-content: center;
}

.bio img {
  display: flex;
  margin-left: -6px;
}

.bio p {
  padding: 0px;
}

/* hr {
  background-color: green;
  height: 2px;
  max-width: 75%;
} */
